{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
<style type="text/css">
	/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: lightyellow;
}

</style>
	<div class="tab">
	  <button class="tablinks active" onclick="openCity(event, 'Paris')">Scorecard</button>
	  <button class="tablinks" onclick="openCity(event, 'London')">Hints</button>
	</div>

	<div id="London" class="tabcontent">
	{% if show %}
	<div class="card-columns">
		{% for hint in hints %}
			<div class="card bg-light mb-3" style="max-width: 18rem;">
			  <div class="card-header">{{hint.title}}</div>
			  <div class="card-body">
			    <p class="card-text">{{hint.body}}</p>
			  </div>
			  <div class="card-footer">
      			<small class="text-muted">Last updated at {{hint.added|date:'Y-m-d H:i' }}</small>
    		  </div>
			</div>
		{% endfor %}
	</div>	
	{% else %}
		<h2><i>{{ data }}</i></h2>
    {% endif %}
	</div>

	<div id="Paris" class="tabcontent" style="display: block;">
		
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Username</th>
		      <th scope="col">Score</th>
		    </tr>
		  </thead>
		  <tbody>
		  {% for score in scores %}
			<tr>
		      <th scope="row">{{ forloop.counter }}</th>
		      <td>{{ score.user.username }}</td>
		      <td>{{ score.score }}</td>
		    </tr>
		   {% endfor %}
		
		  </tbody>
		</table>
	</div>	



<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
{% endblock %}
