{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="container">
    <h4>{% trans 'Log in' %}</h4>
        <form method="post" class="login" style="margin-top: 150px;position: relative;left: 50%;">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-primary">{% trans 'Log in' %}</button>
        </form>
    
    <hr>
    <ul>
        <li>
            <a href="{% url 'accounts:restore_password' %}">{% trans 'Forgot your password?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:remind_username' %}">{% trans 'Forgot your username?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>
        </li>
    </ul>
    </div>
{% endblock %}
