{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Change profile' %}</h4>
	<div class="container" style="
    border-style: solid;
    border-radius: 10px;
    padding: 25px;
    box-shadow: beige;
    box-shadow: 10px 10px lightgray;
    background: whitesmoke;
">

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Change' %}</button>

    </form>
	</div>
{% endblock %}
